<!DOCTYPE HTML>
<html style="height: 100%">
<head>
 <title>Python Tutorial Practice Website#ff0101</title>
</head>
<body style="height: 100%">
 <div class="wrapper" style="min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -8em;">
  <center style="color: #ff0101; padding-top: 200px; font-family: Helvetica; font-size: 40px; font-weight: bold;"><a href="http://daikeren.gitbooks.io/django_tutorial/" rel="nofollow" style="text-decoration: none; color: #ff0101;">{{ excuse }}</a></center>
  <div class="push"></div>
 </div>
 <div class="footer">
  <center style="color: #333; font-family: Helvetica; font-size: 11px;">
   <br /><br />&copy; CopyRight
  </center>
 </div>
 </body>
</html>